@model AmbitionedTask.ViewModels.ExpressionViewModel

@{
    ViewData["Title"] = "Home Page";
}

<form method="post" class="col-md-6 offset-md-3" enctype="multipart/form-data">
    <div class="form-group">
        <input asp-for="Expression" class=" form-control" />
        <span asp-validation-for="Expression" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" value="Calculate" />
</form>

<br />
<form method="post" class="col-md-6 offset-md-3" enctype="multipart/form-data">
    <div class="form-group">
        <input asp-for="Result" class=" form-control" />
        <span asp-validation-for="Result" class="text-danger"></span>
    </div>
</form>